<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="description" content="">
    <meta name="keywords" content="thema bootstrap template, thema admin, bootstrap, admin template, bootstrap admin">

    <meta name="author" content="LanceCoder">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <link rel="shortcut icon" href="">
    <title>Thema Admin Boostrap Template</title>

    <!-- Start Global plugin css -->
    <link href="../static/css/global-plugins.css" rel="stylesheet">
    <link href="../static/vendors/jquery-icheck/skins/all.css" rel="stylesheet" />
    <!-- <link href="../../../assets/vendors/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->
    <!-- <link href="../../../assets/css/bootstrap-reset.css" rel="stylesheet"> -->
    <!-- <link href="../../../assets/vendors/font-awesome/css/font-awesome.css" rel="stylesheet"> -->
    <!-- <link href="../../../assets/vendors/pe-icon-7-stroke/css/pe-icon-7-stroke.css" rel="stylesheet" /> -->
    <!-- <link href="../../../assets/vendors/pe-icon-7-stroke/css/helper.css" rel="stylesheet"/> -->
    <!-- <link href="../../../assets/vendors/jquery-notific8/jquery.notific8.css" rel="stylesheet"> -->
    <!-- <link href="../../../assets/vendors/line-icons/line-icons.css" rel="stylesheet" /> -->
    <!-- <link href="../../../assets/vendors/jquery-ui/jquery-ui.min.css" rel="stylesheet"> -->
    <!-- <link href="../../../assets/vendors/dropdowns-enhancement/css/dropdowns-enhancement.css" rel="stylesheet"> -->
    <!-- <link href="../../../assets/vendors/hover/hover.css" rel="stylesheet"> -->
    <!-- <link href="../../../assets/vendors/animate/animate.css" rel="stylesheet"> -->
    <!-- <link href="../../../assets/vendors/tooltipster/css/tooltipster.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../../../assets/vendors/tooltipster/css/themes/tooltipster-light.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../../../assets/vendors/tooltipster/css/themes/tooltipster-noir.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../../../assets/vendors/tooltipster/css/themes/tooltipster-punk.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../../../assets/vendors/tooltipster/css/themes/tooltipster-shadow.css" rel="stylesheet" type="text/css" /> -->
    <!-- <link href="../../../assets/vendors/perfect-scrollbar/css/perfect-scrollbar.min.css" rel="stylesheet" /> -->
    <!-- End Global plugin css -->
    

    <!--For this page uses this css plugin only-->
    <link href="../static/css/table-responsive.css" rel="stylesheet"/>
    <link href="../static/vendors/datatable/bootstrap/dataTables.bootstrap.css" rel="stylesheet">
    <link href="../static/vendors/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css">
    <link href="../static/vendors/x-editable/inputs-ext/address/address.css" rel="stylesheet" type="text/css">
    <link href="../static/vendors/select2/select2.css" rel="stylesheet" />
    <link href="../static/vendors/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="../static/css/theme.css" rel="stylesheet">
    <link href="../static/css/style-responsive.css" rel="stylesheet"/>
    <link href="../static/css/class-helpers.css" rel="stylesheet"/>

    <!--Color schemes-->
    <link href="../static/css/colors/green.css" rel="stylesheet">
    <link href="../static/css/colors/turquoise.css" rel="stylesheet">
    <link href="../static/css/colors/blue.css" rel="stylesheet">
    <link href="../static/css/colors/amethyst.css" rel="stylesheet">
    <link href="../static/css/colors/cloud.css" rel="stylesheet">
    <link href="../static/css/colors/sun-flower.css" rel="stylesheet">
    <link href="../static/css/colors/carrot.css" rel="stylesheet">
    <link href="../static/css/colors/alizarin.css" rel="stylesheet">
    <link href="../static/css/colors/concrete.css" rel="stylesheet">
    <link href="../static/css/colors/wet-asphalt.css" rel="stylesheet">

    <!--Fonts-->
    <link href="../static/fonts/Indie-Flower/indie-flower.css" rel="stylesheet" />
    <link href="../static/fonts/Open-Sans/open-sans.css?family=Open+Sans:300,400,700" rel="stylesheet" />

</head>

<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Thema Color Schemes
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

* Just add the attribute value to the attribute ID in <body> element
* List of color scheme values that supported to this theme
    - default-scheme - the default is green color
    - alizarin-scheme
    - amethyst-scheme
    - blue-scheme
    - carrot-scheme
    - cloud-scheme
    - concrete-scheme
    - sun-flower-scheme
    - turquoise-scheme
    - wet-asphalt-scheme

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->


<!--
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
* Thema Layout Options
* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *

* Lists of layout options just follow the instructions if you want to use this feature
    > Boxed Page
        - Just add class "fixed-width-unfixed-header" in <body> element 
        - and add class "unfixed-header" also in  <div class="leftside-navigation"> just search "leftside-navigation"
        - and add class also "unfixed-header" to the <section id="main-content"> element just search it
        
    > Boxed Page + Fixed Header
        - Just add class "fixed-width" in <body> element
        - and add class also "boxed-page-fixed-header" to the <section id="main-content"> element just search it

    > Boxed Page + No sidebar
        - Just add class "fixed-width-unfixed-header no-sidebar" in <body> element 
        - and add class also "unfixed-header merge-left" to the <section id="main-content"> element just search it
    
    > Boxed Page + No sidebar + Fixed header
        - Just add class "fixed-width no-sidebar" in <body> element
        - and add class also "merge-left" to the <section id="main-content"> element just search it

    > Full width + Unfixed header
        - Just add class "full-content-unfixed-header" in <body> element
        - and add class also "merge-left" to the <section id="main-content"> element just search it 
    
    > Right Sidebar
        - Just follow the sample page
        - the important to do is replace "<section id="main-content">" to "<section id="main-content-right">"

+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
-->
<body id="default-scheme" class="theme-sidebar-2">

    <section id="container">

        <!--header start-->
        <header class="header fixed-top clearfix">

            <!--logo start-->
            <div class="brand">

                <a href="../index.html" class="logo">
                    Dashboard
                </a>
                <div class="sidebar-toggle-box">
                    <div class="fa fa-bars"></div>
                </div>
            </div>
            <!--logo end-->

            <!-- 
                *****************************
                ** Start of top navigation **
                *****************************
             -->
            <div class="top-nav">

            </div>

            <!-- 
                *****************************
                *** End of top navigation ***
                *****************************
             -->

        </header>    
        <!--header end-->

        <!--sidebar start-->
        <aside>
            <div id="sidebar" class="nav-collapse md-box-shadowed">
                <!-- sidebar menu start-->
                <div class="leftside-navigation leftside-navigation-scroll">
                    <ul class="sidebar-menu" id="nav-accordion">
                        <li class="sidebar-profile">
                            
                            <div class="profile-main">
                                <p>
                                    <span class="name">{{ name }}</span><br>
                                    <span class="position" style="font-family: monospace;">{{ role }}</span>
                                </p>
                            </div>

                        </li>
                        <li class='../index.html'><a href="#" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-display2 fa-2x'></span><span>异常</span></a></li>
                        <li class='sub-menu '><a href="1" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-calculator fa-2x'></span><span>资源</span></a>
                            <ul class='sub'>
                                <li class="sub-menu"><a href="javascript:void(0);">Boxed Page</a>
                                    <ul class='sub active'>
                                        <li><a href='../layouts/boxed_page.html'>Default</a>
                                        </li>
                                        <li><a href='../layouts/boxed_page_fixed_header.html'>Default + Fixed Header</a>
                                        </li>
                                        <li><a href='../layouts/boxed_page_no_sidebar.html'>No sidebar</a>
                                        </li>
                                        <li><a href='../layouts/boxed_page_no_sidebar_fixed_header.html'>No sidebar + Fixed Header</a>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href='../layouts/full_width_content.html'>Full width content</a>
                                </li>
                                <li><a href='../layouts/blank.html'>Blank Page</a>
                                </li>
                            </ul>
                        </li>
                        <li class='sub-menu '><a href="1" class="hvr-bounce-to-right-sidebar-parent"><span class='icon-sidebar pe-7s-portfolio fa-2x'></span><span>配置</span></a>
                            <ul class='sub'>
                                <li><a href='../ui-elements/class-helpers.html'>Class Helpers</a>
                                </li>
                                <li><a href='../ui-elements/accordions.html'>Accordions</a>
                                </li>
                                <li><a href='../ui-elements/alerts.html'>Alerts</a>
                                </li>
                                <li><a href='../ui-elements/buttons.html'>Buttons</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                </div>
                <!-- sidebar menu end-->
            </div>
        </aside>    
        <!--sidebar end-->

        <!-- /menu footer buttons -->
        
        <!--<div class="sidebar-footer hidden-small">
            <a class="tooltip-settings" title="Settings">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
            </a>
            <a class="tooltip-fullscreen" title="Full Screen">
                <span class="glyphicon glyphicon-fullscreen" aria-hidden="true"></span>
            </a>
            <a class="tooltip-resize-fullscreen" title="Resize Screen" style='display:none'>
                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
            </a>
            <a class="tooltip-lock" title="Lock">
                <span class="glyphicon glyphicon-eye-close" aria-hidden="true"></span>
            </a>
            <a class="tooltip-logout" title="Logout">
                <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
            </a>
        </div>-->    <!-- /menu footer buttons -->

        <!--main content start-->
        <section id="main-content">

                
            <section class="wrapper">
                    
                <!--======== Grid Menu Start ========-->
                <div id="grid-menu">
                    <div class="color-overlay grid-menu-overlay">
                        <div class="grid-icon-wrap grid-icon-effect-8">
                            <a href="#" class="grid-icon icon-envelope font-size-50 turquoise"></a>
                            <a href="#" class="grid-icon icon-user font-size-50 teal"></a>
                            <a href="#" class="grid-icon icon-support font-size-50 peter-river"></a>
                            <a href="#" class="grid-icon icon-settings font-size-50 light-blue"></a>
                            <a href="#" class="grid-icon icon-picture font-size-50 orange"></a>
                            <a href="#" class="grid-icon icon-camrecorder font-size-50 light-orange"></a>
                        </div>
                    </div>
                </div>                
                <!--======== Grid Menu End ========-->

                <!--======== Page Title and Breadcrumbs Start ========-->
                <div>
                    <br>
                    <br>
                    <br>
                </div>
                <!--======== Page Title and Breadcrumbs End ========-->

                <!--======== Accordion Content Start End ========-->
                <div class="row">

                    <div class="col-md-12">
                        <div class="c_panel">
                            <div class="c_title">
                                <h2>{{ title }}</h2>

                                <div class="clearfix"></div>
                            </div><!--/.c_title-->

                            <div class="c_content">



                                <!--=========== START X-EDITABLE ===========-->
                                <form action="/search-post/" method="post">

                                    <div>
                                        <div class="row">

                                            <div class="col-md-12">

                                                <div class="c_panel">

                                                    <div class="c_title">
                                                        <h2>General Table</h2>
                                                        <ul class="nav navbar-right panel_options">

                                                        </ul>
                                                        <div class="clearfix"></div>
                                                    </div><!--/.c_title-->

                                                    <div class="c_content">

                                                        <table class="table  table-hover general-table">
                                                            <thead>
                                                            <tr>
                                                                <th> Company</th>
                                                                <th class="hidden-phone">Descrition</th>
                                                                <th>Status</th>
                                                                <th class="mini">Progress</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for msg in msg_list %}
                                                                <tr>
                                                                    <td>{{ msg.identity }}</td>
                                                                    <td class="hidden-phone">{{ msg.description }}</td>
                                                                    {% if msg.status == "0" %}
                                                                        <td><span class="label label-danger label-mini">High</span></td>
                                                                    {% elif msg.status == "1" %}
                                                                        <td><span class="label label-green-sea label-mini">Medium</span></td>
                                                                    {% else %}
                                                                        <td><span class="label label-info label-mini">Low</span></td>
                                                                    {% endif %}
                                                                    <td width="122">
                                                                        <label class="switch-input primary">
                                                                            <input type="radio" value="0" name="{{ msg.receive }}">
                                                                            <i data-on="YES" data-off="NO"></i> 维修
                                                                        </label>
                                                                        <label class="switch-input info">
                                                                            <input type="radio" value="1" name="{{ msg.receive }}">
                                                                            <i data-on="YES" data-off="NO"></i> 入库
                                                                        </label>
                                                                        <label class="switch-input danger">
                                                                            <input type="radio" value="2" name="{{ msg.receive }}" checked>
                                                                            <i data-on="YES" data-off="NO"></i> 异常
                                                                        </label>
                                                                    </td>
                                                                </tr>
                                                                {% empty %}
                                                                没有需要检视事项
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                        <input type="submit" class="" value="提交">


                                                    </div><!--/.c_content-->

                                                </div><!--/.c_panels-->


                                            </div><!--/col-md-12-->

                                        </div>

                                    </div>

                                </form>

                                <!--=========== END X-EDITABLE ===========-->

                                <!--/.c_content-->
                            </div><!--/.c_content-->

                        </div><!--/.c_panels-->


                    </div>

                </div>
                <!--======== Accordion Content Start End ========-->


            </section>
        </section>
        <!--======== Main Content End ========-->


        <!--===== Right sidebar nofications start ========-->
        <aside>
            <div id="right-sidebar" class="right-sidebar-notifcations nav-collapse hide-right-bar-notifications">
                <div class="bs-example bs-example-tabs right-sidebar-tab-notification" data-example-id="togglable-tabs">
                    <ul id="right-sidebar-tabs" class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="active">
                            <a href="#activities" id="activities-tab" role="tab" data-toggle="tab" aria-controls="activities" aria-expanded="true">Activities</a>
                        </li>
                        <li role="presentation">
                            <a href="#tasks" role="tab" id="tasks-tab" data-toggle="tab" aria-controls="tasks">Tasks</a>
                        </li>
                        <li role="presentation">
                            <a href="#settings" role="tab" id="settings-tab" data-toggle="tab" aria-controls="settings">Settings</a>
                        </li>
                        
                    </ul>

                </div><!-- /example -->
                <div class="btn-bottom-right-sidebar-close">
                    <span class="fa fa-times"></span>
                </div>
                    
            </div>
        </aside>    
        <!--===== Right sidebar nofications end ========-->

    </section><!--/.container-->

    <!--===== Footer Start ========-->

    <!-- Placed js at the end of the document so the pages load faster -->

    <!--##################################################################################
    #
    # Thema GLOBAL JS PLUGINS
    # 
    # NOTE: These libraries are neccessary to run the template so don't remove one of these libraries. 
    # You can uncomment the following libraries commented and comment the global-plugins.js but it will may cause slow performance of the template because of many links should be load from the server.
    #
    ##################################################################################-->
    <script src="../static/js/global-plugins.js"></script>
    <!-- <script src="../../../assets/js/jquery.js"></script>
    <script src="../../../assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="../../../assets/vendors/jquery.cookie/jquery.cookie.js"></script>
    <script src="../../../assets/vendors/jquery-ui/jquery-ui.min.js"></script>
    <script src="../../../assets/vendors/jquery-easing/jquery.easing.1.3.js"></script>
    <script src="../../../assets/vendors/bootstrap/js/bootstrap.js"></script>
    <script src="../../../assets/vendors/jquery/dcjqaccordion.2.7.js"></script>
    <script src="../../../assets/vendors/jquery/scrollTo.min.js"></script>
    <script src="../../../assets/vendors/jquery/slimscroll.js"></script>
    <script src="../../../assets/vendors/jquery/nicescroll.js"></script>
    <script src="../../../assets/vendors/progressbar/bootstrap-progressbar.min.js"></script>
    <script src="../../../assets/vendors/counter/waypoints.min.js" type="text/javascript" ></script>
    <script src="../../../assets/vendors/counter/jquery.counterup.min.js" type="text/javascript" ></script>
    <script src="../../../assets/vendors/jquery-icheck/icheck.min.js"></script>
    <script src="../../../assets/vendors/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="../../../assets/vendors/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
    <script src="../../../assets/vendors/bootstrap-colorpicker/js/bootstrap-colorpicker.js"></script>
    <script src="../../../assets/vendors/bootstrap-tagsinput/bootstrap-tagsinput.js"></script>
    <script src="../../../assets/vendors/summernote/summernote.min.js"></script>
    <script src="../../../assets/vendors/jquery.autosize/jquery.autosize.js"></script>
    <script src="../../../assets/vendors/jquery.multi-select/js/jquery.multi-select.js"></script>
    <script src="../../../assets/vendors/jquery.multi-select/js/jquery.quicksearch.js"></script>
    <script src="../../../assets/vendors/typeahead/js/typeahead.bundle.js"></script>
    <script src="../../../assets/vendors/typeahead/js/handlebars.min.js"></script>
    <script src="../../../assets/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js"></script>
    <script src="../../../assets/vendors/select2/select2.min.js"></script>
    <script src="../../../assets/vendors/bootstrap-star-rating/js/star-rating.min.js"></script>
    <script src="../../../assets/vendors/bootstrap-fileupload/js/bootstrap-fileupload.js"></script>
    <script src="../../../assets/vendors/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="../../../assets/vendors/jquery.validate/jquery.validate.min.js"></script>
    <script src="../../../assets/vendors/bootstrap-wizard/jquery.bootstrap.wizard.min.js"></script>
    <script src="../../../assets/vendors/dropzone/dropzone.min.js"></script>
    <script src="../../../assets/vendors/plupload/js/plupload.full.min.js"></script>
    <script src="../../../assets/vendors/plupload/js/jquery.plupload.queue/jquery.plupload.queue.min.js"></script>
    <script src="../../../assets/vendors/x-editable/bootstrap3-editable/js/bootstrap-editable.js"></script>
    <script src="../../../assets/vendors/x-editable/inputs-ext/address/address.js"></script>
    <script src="../../../assets/vendors/x-editable/inputs-ext/typeaheadjs/typeaheadjs.js"></script>
    <script src="../../../assets/vendors/owl-carousel/owl.carousel.js"></script>
    <script src="../../../assets/vendors/magnific-popup/js/jquery.magnific-popup.js"></script>
    <script src="../../../assets/vendors/masonry/masonry.pkgd.min.js"></script>
    <script src="../../../assets/vendors/moment.min.js"></script>
    <script src="../../../assets/vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script src="../../../assets/vendors/raphael-min.js" charset="utf-8" ></script>
    <script src="../../../assets/vendors/sweetalert/sweetalert.min.js"></script>
    <script src="../../../assets/vendors/word-rotator/jquery.wordrotator.min.js"></script>
    <script src="../../../assets/vendors/wow-animations/js/wow.min.js"></script>
    <script src="../../../assets/vendors/rwd-table/js/rwd-table.min.js?v=5.0.3"></script>
    <script src="../../../assets/vendors/jqueryui.sortable.animation/jquery.ui.sortable-animation.js"></script>
    <script src="../../../assets/vendors/tooltipster/js/jquery.tooltipster.js" type="text/javascript" ></script>
    <script src="../../../assets/vendors/dropdowns-enhancement/js/dropdowns-enhancement.min.js" type="text/javascript"></script>
    <script src="../../../assets/vendors/jquery-notific8/jquery.notific8.js" type="text/javascript"></script>
    <script src="../../../assets/vendors/date.js"></script>
    <script src="../../../assets/vendors/pogo-slider/js/jquery.pogo-slider.min.js" type="text/javascript" ></script>
    <script src="../../../assets/vendors/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript" ></script>
    <script src="../../../vendors/nestable/jquery.nestable.js" type="text/javascript" ></script>
    <script src="../../../assets/vendors/bstooltip/bstooltip.js"></script> -->

    <!--##################################################################################
    #
    # COMMON SCRIPT FOR THIS PAGE
    #
    ##################################################################################-->





    <!--common script init for all pages-->
    <script src="../static/js/theme.js" type="text/javascript" ></script>

    <!-- For the page has tooltipslter only -->
    <script src="../static/js/tooltipster.js" type="text/javascript" ></script>

    <!-- For for the page that has form only -->
    <script src="../static/js/forms.js"></script>
    <script src="../static/js/form-validation.js"></script>
    <script src="../static/js/form-wizard.js"></script>
    <script src="../static/js/form-plupload.js"></script>
    <script src="../static/js/form-x-editable.js"></script>

    <script type="text/javascript">


        $(document).ready(function(){
            new WOW().init();

            App.initPage();
            App.initLeftSideBar();
            App.initCounter();
            App.initNiceScroll();
            App.initPanels();
            App.initProgressBar();
            App.initSlimScroll();
            App.initNotific8();
            App.initTooltipster();
            App.initStyleSwitcher();
            App.initMenuSelected();
            App.initRightSideBar();
            App.initSummernote();
            App.initAccordion();
            App.initModal();
            App.initPopover();

        });
    </script>


</body>

</html>

<!--===== Footer End ========-->